# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd

# virtual environments
.venv/
venv/
.env

# Flask instance folder
instance/

# Distribution / packaging
.eggs/
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.pytest_cache/
.coverage

# Translations
*.mo

# Editor-specific files
.idea/
*.swp
*.swo
*~

# saved intermediate files
processed/html/*
processed/md/*
processed/images/*
test_docs